@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local("Roboto"), local("Roboto-Black"),
    url("./assets/fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 900;
  src: local("Roboto"), local("Roboto-BlackItalic"),
    url("./assets/fonts/Roboto-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto"), local("Roboto-Bold"),
    url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: local("Roboto"), local("Roboto-BoldItalic"),
    url("./assets/fonts/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Italic"),
    url("./assets/fonts/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto"), local("Roboto-Light"),
    url("./assets/fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: local("Roboto"), local("Roboto-LightItalic"),
    url("./assets/fonts/Roboto-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto"), local("Roboto-Medium"),
    url("./assets/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: local("Roboto"), local("Roboto-MediumItalic"),
    url("./assets/fonts/Roboto-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: local("Roboto"), local("Roboto-Thin"),
    url("./assets/fonts/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 100;
  src: local("Roboto"), local("Roboto-ThinItalic"),
    url("./assets/fonts/Roboto-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMono";
  font-style: normal;
  font-weight: 700;
  src: local("RobotoMono"), local("RobotoMono-Bold"),
    url("./assets/fonts/RobotoMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMono";
  font-style: italic;
  font-weight: 700;
  src: local("RobotoMono"), local("RobotoMono-BoldItalic"),
    url("./assets/fonts/RobotoMono-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMono";
  font-style: normal;
  font-weight: 200;
  src: local("RobotoMono"), local("RobotoMono-ExtraLight"),
    url("./assets/fonts/RobotoMono-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMono";
  font-style: italic;
  font-weight: 200;
  src: local("RobotoMono"), local("RobotoMono-ExtraLightItalic"),
    url("./assets/fonts/RobotoMono-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMono";
  font-style: italic;
  font-weight: 400;
  src: local("RobotoMono"), local("RobotoMono-Italic"),
    url("./assets/fonts/RobotoMono-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMono";
  font-style: normal;
  font-weight: 300;
  src: local("RobotoMono"), local("RobotoMono-Light"),
    url("./assets/fonts/RobotoMono-Light.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMono";
  font-style: italic;
  font-weight: 300;
  src: local("RobotoMono"), local("RobotoMono-LightItalic"),
    url("./assets/fonts/RobotoMono-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMono";
  font-style: normal;
  font-weight: 500;
  src: local("RobotoMono"), local("RobotoMono-Medium"),
    url("./assets/fonts/RobotoMono-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMono";
  font-style: italic;
  font-weight: 500;
  src: local("RobotoMono"), local("RobotoMono-MediumItalic"),
    url("./assets/fonts/RobotoMono-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMono";
  font-style: normal;
  font-weight: 400;
  src: local("RobotoMono"), local("RobotoMono-Regular"),
    url("./assets/fonts/RobotoMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMono";
  font-style: normal;
  font-weight: 600;
  src: local("RobotoMono"), local("RobotoMono-SemiBold"),
    url("./assets/fonts/RobotoMono-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMono";
  font-style: italic;
  font-weight: 600;
  src: local("RobotoMono"), local("RobotoMono-SemiBoldItalic"),
    url("./assets/fonts/RobotoMono-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMono";
  font-style: normal;
  font-weight: 100;
  src: local("RobotoMono"), local("RobotoMono-Thin"),
    url("./assets/fonts/RobotoMono-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMono";
  font-style: italic;
  font-weight: 100;
  src: local("RobotoMono"), local("RobotoMono-ThinItalic"),
    url("./assets/fonts/RobotoMono-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Digital";
  font-style: normal;
  font-weight: 700;
  src: local("Digital"), local("Digital-Bold"),
    url("./assets/fonts/Digital-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Digital";
  font-style: italic;
  font-weight: 700;
  src: local("Digital"), local("Digital-BoldItalic"),
    url("./assets/fonts/Digital-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Digital";
  font-style: italic;
  font-weight: 400;
  src: local("Digital"), local("Digital-Italic"),
    url("./assets/fonts/Digital-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Digital";
  font-style: normal;
  font-weight: 400;
  src: local("Digital"), local("Digital-Regular"),
    url("./assets/fonts/Digital-Regular.ttf") format("truetype");
}
